.sun {
  background-image: url("../dist/png/01d.png"); }

.sunCloud {
  background-image: url("../dist/png/02d.png"); }

.cloud {
  background-image: url("../dist/png/04.png"); }

.sunRain {
  background-image: url("../dist/png/05d.png"); }

.cloudRain {
  background-image: url("../dist/png/10.png"); }

.flashes {
  background-image: url("../dist/png/22.png"); }

.sleet {
  background-image: url("../dist/png/12.png"); }

.cloudSnow {
  background-image: url("../dist/png/50.png"); }

.mist {
  background-image: url("../dist/png/15.png"); }

.night {
  background-image: url("../dist/png/01n.png"); }

.weather-icon {
  height: 40px;
  width: 40px;
  background-size: 100%; }

  h2 {
    display: flex;
    justify-content: center;
  }

  .articleDiv{
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
p:first-child{
  display: flex;
  flex-wrap: wrap;
  width: 100%
}
  .articleDiv p{
    display: flex;
    flex-wrap: wrap;
  }
